body {
    margin: 0px;
    padding: 0px;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin-left: 10px;
    text-align: justify;
    padding-top: 20px;
}

a {
    text-decoration: none;
    list-style: none;
    color: white;
}

h1,
h2 {
    text-align: center;
    margin-top: 30px;
}

h4 {
    color: white;
}

img {
    max-width: 50%;
    display: inline-block;
    margin-left: 20px;
    margin: 0 auto;
}

.geral {
    max-width: 90%;
    display: inline-block;
    margin-left: 20px;
    margin: 0 auto;
}

.footer {
    background: rgb(8, 33, 33);
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 450px;
}

.header {
    background: #1d1e20;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}